body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
	color: #333;
  }
  
  h1 {
	font-family: "Arial", sans-serif; /* Fuente limpia y moderna */
	font-size: 3rem; /* Tamaño grande para destacar */
	color: #118ab2; /* Un color oscuro y elegante */
	text-align: center; /* Centrado para mayor simetría */
	padding: 20px; /* Espaciado alrededor del texto */
	text-shadow: 2px 2px 4px #ffffff, -2px -2px 4px #ffffff, 2px -2px 4px #ffffff,
	  -2px 2px 4px #ffffff; /* Borde blanco */
	transition: all 0.3s ease; /* Efecto suave para interacción */
  }
  
  h2 {
	font-size: 2rem;
	color: white;
  }
  
  p {
	line-height: 1.6;
	justify-content: center;
	color: black;
  }
  
  .text-g{
	font-size: 1.5rem;
  }

  main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	gap: 15px;
	background: rgb(253, 242, 112);
	background: linear-gradient(
	  77deg,
	  rgba(253, 242, 112, 1) 25%,
	  rgba(120, 136, 198, 1) 69%,
	  rgba(39, 48, 84, 1) 100%
	);
  }

  .cardb-title{
	color: white;
	font-size: 3rem; /* Tamaño grande para destacar */
  }
  
  /* Tarjetas del Equipo */
  .card {
	border: none;
	border-radius: 12px;
	overflow: hidden;
	background: #f099ad;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
	max-height: 300px;
	object-fit: cover;
  }
  
  .card-title {
	color: white;
	
	margin-bottom: 0.5rem;
  }

  h5 { 
	font-size: 1.7rem;
  }
  
  .card-text {
	color: black;
	font-size: 1.2rem;
  }
  
  /* Sección de Equipo */
  .my-5 {
	margin: 3rem 0;
  }
  

  
  .text-center {
	text-align: center;
  }
  
  /* Ajustes de Responsividad */
  @media (max-width: 576px) {
	.row {
	  flex-direction: column;
	  gap: 2rem;
	}
  
	.card {
	  margin: 0 auto;
	}
  }

  .text-p {
	font-size: 1.70rem;
	color: black;
  }
