main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  gap: 15px;
  background: rgb(253, 242, 112);
  background: linear-gradient(
    77deg,
    rgba(253, 242, 112, 1) 25%,
    rgba(120, 136, 198, 1) 69%,
    rgba(39, 48, 84, 1) 100%
  );
}

@media (max-width: 768px) {
  .container-home {
    flex-direction: column; /* Cambia la disposición a columna */
    justify-content: center;
    align-items: center; /* Alinea los elementos al centro */
    max-width: 90%; /* Ajusta el ancho */
  }

  .img-home {
    width: 100%; /* Asegura que la imagen ocupe el ancho completo */
    max-width: 300px; /* Limita el tamaño de la imagen en móviles */
    order: 1; /* Asegura que la imagen aparezca primero */
  }

  .text-home {
    width: 100%; /* Ajusta el ancho del texto */
    max-width: 250px; /* Limita el ancho del texto en móviles */
    height: auto; /* Permite que el contenedor de texto ajuste su altura */
    margin-top: 20px; /* Añade un espacio entre la imagen y el texto */
    order: 2; /* Asegura que el texto aparezca después de la imagen */
    top: -55px;
    left: auto;
    position: relative; /* Cambia a posición estática para evitar superposiciones */
  }
}

/* Seccion Politicas de privacidad  */
.privacy-policy {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.privacy-policy article {
  margin-bottom: 20px;
}

.privacy-policy h2 {
  color: #d3832c;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.privacy-policy h2 i {
  margin-right: 10px;
}

.privacy-policy {
  h1 {
    background-color: #d3832c;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
  }
  ul {
    margin: 10px 0;
    line-height: 1.6;
  }

  ul {
    padding-left: 20px;
  }

  ul li {
    margin: 5px 0;
    list-style: none;
    position: relative;
  }

  ul li:before {
    content: "\f058"; /* Font Awesome check icon */
    font-family: "Font Awesome 5 Free";
    margin-right: 8px;
    color: #d3832c;
    font-weight: 900;
  }
}
